@import "settings";
@import "normalize";
@import "foundation";

body{
  background-image: url("../img/spot-bouquet-background.jpg");
  //background-repeat: repeat-x;
  background-size: cover;
  background-attachment: fixed;
  //position: fixed;
  overflow: scroll;
//  width: 1920px;
//  height: 1200px;
  color: #ffffff !important;
}

h1,h2,h3,h4,h5,h6{
  color: #ffffff !important;
}

.always-white{
  color: #FFFFFF !important;
  a{
    color: #FFFFFF !important;
  }
}

#wpadminbar{
  top: 45px !important;
  z-index: 88888 !important;
}

.jas-top-bar{
  z-index: 99999 !important;
}

.alignleft{
  float: left;
  padding: 0.5em;
}

.alignright{
  float: right;
  padding: 0.5em;
}

//.author-avatar{
//  height: 200px;
//  width: 200px;
//  display: block;
//}

.articleSearchResult{
  position: relative;
  width: auto;
  //max-width: 250px !important;
  overflow: scroll;
  height: auto;
  max-height: rem-calc(300px);
  //max-height: rem-calc(500px);
  background-color: #FFFFFF;
  color: #000000 !important;
  border: 1em solid #333333;
  a{
    color: lighten(#0000FF, 20%);
  }
  p{
    font-size: 1em;
    line-height: 1.2;
    padding: 0.2em 0 0 0.5em !important;
  }
  h2{
    font-size: 1em;
    a{
      color: #0000FF !important;
      text-decoration: underline !important;
      background-color: #FFFFFF !important;
    }
  }
}
.cwmc-top-bar-header{
}
.cwmc-recent-articles-area{
}
.cwmc-top-bar-footer{
  //margin-bottom:  10px;
}

.animateContainer{
  position: relative;
}

.slideInPanel{
  position: absolute;
  left: -100%;
}

.slideDownPanel{
  position: absolute;
  top: 0;
  left: 0;
}

.logo-slogan-container{
  margin-top: rem-calc(10px);
  //padding: rem-calc(10px);
  //background-color: rgba(255, 255, 255, 0.2);
}

h1.fancytext{
  font-family: 'Rancho';
  font-size: 400%;
  color: rgba( 0, 0, 0, 0.85) !important;
}

h2.slogan-line{
  font-family: 'Nothing You Could Do', cursive;
  font-size: 250%;
  //color: rgba( 18, 182, 159, 1) !important;
  color: rgba( 255, 100, 0, 1) !important;
}

.articleContainer{
  padding: rem-calc(20px);
}

.buttonContainer ul{
  list-style-type: none;
}

.buttonList{
  padding-top: rem-calc(50px);
}

.centered-image{
  display: block;
  margin: 0 auto;
}